<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6d15b5a8-08db-4933-91b5-7d9de1eddc60/resourcegroups/Web03/providers/Microsoft.Web/sites/Test0030317</ResourceId>
    <ResourceGroup>Web03</ResourceGroup>
    <ApiResourceId>/subscriptions/6d15b5a8-08db-4933-91b5-7d9de1eddc60/resourceGroups/Web03/providers/Microsoft.ApiManagement/service/Test003api/apis/Test003</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://test0030317-dyg3fmaacveddgda.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>5e4bc618-4aa9-440a-8f67-dbaa6a053ec2</ProjectGuid>
    <PublishUrl>https://test0030317-dyg3fmaacveddgda.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
	  <!-- 其他配置项 -->
	  <UserName>Test0030317\REDACTED</UserName>
	  <Password>REDACTED</Password>
	  
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>